[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]

[packages]
unidecode = "*"
python-cli-ui = "*"
"path.py" = "*"
requests = "*"
tbump = ">= 5.0.0"
websockets = "*"
psutil = "*"
