/*  FOOTER
--------------------------------------------------- */
.footer {
  max-width: $global-width;
  width: 100%;
  background-color: $white;

  p {
    font-size: 13px;
    line-height: 1.6;
    padding: 0 35px 0 20px;
  }

  .center {
    text-align: center;
  }

  img {
    position: relative;
    display: inline;
    margin: 0 7px;
    height: 10px;
    width: 10px;
    top: 1px;
  }

  .tanker {
    color: $blue;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .4px;
    text-transform: uppercase;
  }
}
