/*  FOOTER
--------------------------------------------------- */
.footer {
  max-width: $global-width;
  width: 100%;
  background-color: $white;

  .center {
    text-align: center;
  }

  img {
    position: relative;
    display: inline;
    height: 13px;
    width: 62px;
    top: 3px;
  }

  .tanker {
    color: $blue;
    font-size: 10px;
    line-height: 2.4;
    text-transform: uppercase;
  }
}
