//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail

// 1. Global
// ---------
$tanker-blue:     hsl(236, 60%, 55%) !default;        // #454ed1
$dark-blue:       hsl(234, 37%, 20%) !default;        // #202445
$aquamarine:      hsl(168, 100%, 54%) !default;       // #15ffcf


$blue: $tanker-blue;
$text: $dark-blue;
$white: #fff;

$global-width: 560px;
$global-width-small: 95%;
$global-gutter: 0;
$body-background: $white;
$global-padding: 16px;
$global-margin: 16px;
$global-radius: 0;
$global-rounded: 500px;
$global-breakpoint: $global-width;


// 2. Grid
// -------

$grid-column-count: 12;
$column-padding-bottom: $global-padding;
$container-radius: 0;

// 3. Block Grid
// -------------

$block-grid-max: 8;
$block-grid-gutter: $global-gutter;

// 4. Typography
// -------------

$global-font-color: $text;
$body-font-family: helvetica, arial, sans-serif;
$global-font-weight: normal;
$header-color: inherit;
$global-line-height: 1.5;
$global-font-size: 16px;
$body-line-height: $global-line-height;
$header-font-family: $body-font-family;
$header-font-weight: bold;
$h1-font-size: 17px;
$h2-font-size: 30px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 18px;
$header-margin-bottom: 0;
$paragraph-margin-bottom: 0;
$small-font-size: 10px;
$small-font-color: $blue;
$lead-font-size: $global-font-size * 1.25;
$lead-line-height: 1.6;
$text-padding: 15px;
$anchor-text-decoration: underline;
$anchor-color: $blue;
$anchor-color-visited: $blue;
$anchor-color-hover: lighten($blue, 10%);
$anchor-color-active: $anchor-color-hover;
$stat-font-size: 40px;

// 5. Button
// ---------

$button-padding: (
  default: 14px 35px,
);
$button-font-size: (
  default: 18px,
);
$button-color: $white;
$button-color-alt: $white;
$button-font-weight: 500;
$button-margin: 0;
$button-background: $blue;
$button-border: 0 none;
$button-radius: $global-radius;
$button-rounded: $global-rounded;
