@import "settings";
@import "foundation-emails";
@import "header";
@import "footer";

.body,
.content {
  max-width: 100%;
  width: $global-rounded;
}

.bold {
  font-weight: 700;
}

.verification-code {
  padding: 30px;
  border: 1px solid $aquamarine;
  font-family: arial;
  font-size: 38px;
  letter-spacing: 7px;
  line-height: 1.16;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  z-index: 100;
}
